* {
    font-family: 'sans';
    justify-content: right;
    margin-top: 0px;
    
  }

.title
{
  width: 100%;
  height:12vh;
  font-size: 5vh;
  text-align: center;
  justify-content: center;
  margin-left: 0%;
  color: white;
  background-color: #18314F;
  border-top: 50px;
}
  
  